.home {
  display: flex;
}

.homeTextPart {
  display: flex;
  flex-direction: column;
  width: 595px;
  height: 338px;
  gap: 20px;
  padding-top: 126px;
  padding-right: 125px;
  z-index: auto;
}

.homeh1 {
  font-family: Inter;
  font-size: 80px;
  font-weight: 600;
  line-height: 82px;
  letter-spacing: -0.02em;
  text-align: left;
  span {
    color: rgba(52, 112, 255, 1);
  }
}

.homeP {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  width: 510px;
  height: 72px;
  letter-spacing: -0.02em;
  text-align: left;
  padding-bottom: 20px;
}

.homeButtonGetStarted {
  width: 235.83px;
  height: 60px;
  padding: 18px 41px;
  border-radius: 30px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  border: none;
  background-color: rgba(52, 112, 255, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    padding-left: 18px;
    width: 18px;
    height: 18px;
    fill: white;
  }
}

.mountOfPsycologists {
  align-items: center;
  background-color: rgba(52, 112, 255, 1);
  border-radius: 20px;
  display: flex;
  gap: 16px;
  padding: 32px;
  position: absolute;
  right: 250px;
  top: 510px;
  svg {
    fill: rgba(52, 112, 255, 1);
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 13px;
    padding: 12px;
  }
}

.imageHomeDiv {
  padding-top: 78px;
}


.mountOfPsycologistsText {
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  align-self: center;
  width: 177px;
height: 54px;

}

.mountOfPsycologistsTextT1 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(251, 251, 251, 0.5);
}

.mountOfPsycologistsTextT2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(251, 251, 251, 1);
}
